table {
    display: inline;}

nav table,ul {
    display: inline;}

nav table,li {
    display: inline;
    padding-right:10px;}

.container {
    background-color: #f6f6f6;
}
.advertise {
    width: 45%; height: 80px; 
    margin-left: 29%;
    margin-top: 20px;
     margin-bottom: 20px;
}
.sidebar {
    width: 20%; 
    height: 850px; 
    float: left;
}
.sidebar-box {
    width: 80%;
     height: 170px;
     float: left;
    margin-top: 10px;
    margin-left: 8%;
}
.news1 {
    width: 99%; 
    height: 120px;
}
.sidebar-box2 {
    width: 80%;
     height: 170px;
     float: left;
    margin-top: 10px;
    margin-left: 8%;
}
.sidebar-box3 {
    width: 80%;
     height: 170px;
     float: left;
    margin-top: 10px;
    margin-left: 8%;
}
.main-content {
    width: 79%;
     height: 850px; 
     float: left;
}
.center-content {
    width: 60%; 
    height: 730px; 
    margin-top: 10px; 
    margin-left: 3%; 
    float: left;
}
.updates {
    width: 99%;
     height: 190px;
}
.t {
    width: 50%;
    float: left;   
}
.t-p {
    width: 50%;
    margin-left: 50%;
}